<div>
    <mat-form-field>
        <mat-label>Input for Button 1</mat-label>
        <input matInput #inputValue1 value="Slut arbejde">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addNewAction(inputValue1.value)">Save input</button>
</div>
<div>
    <mat-form-field>
        <mat-label>Input for Button 2</mat-label>
        <input matInput #inputValue2 value="Start arbejde">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addNewAction(inputValue2.value)">Save input</button>
</div>
<div>
    <mat-form-field>
        <mat-label>Input for Button 3</mat-label>
        <input matInput #inputValue3 value="Start frokost">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addNewAction(inputValue3.value)">Save input</button>
</div>
<button mat-raised-button color="primary" (click)="makeApiRequest()">Send to backend</button>
<p>
    {{convertActionToText()}}

</p>